button {
	transition: var(--transition);
	outline: none !important;
	border: none !important;

	&:hover {
		border-radius: 0.375rem;
	}
}

img {
	transition: var(--transition);
}

:host-context(body:not(.light-mode)) img {
	filter: invert(1);
}

:host-context(body.light-mode) img {
	filter: none;
}
