::ng-deep .emoji-seeker {
	button {
		color: var(--bg) !important;

		&::before {
			background-image: unset !important;
			background-color: var(--accent-color) !important;
		}

		&::after {
			display: none !important;
		}
	}
}

::ng-deep body.light-mode .emoji-seeker {
	button {
		img {
			filter: brightness(1.5);
		}
	}
}

::-webkit-scrollbar {
	transition: var(--transition);
}

::-webkit-scrollbar-thumb {
	border: solid 0.75rem transparent;
	border-radius: 2.5rem;
	background-clip: padding-box;
	background-color: var(--bg-color-secondary);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-color-tertiary);
}

::-webkit-scrollbar-track {
	margin-block-start: -0.75rem;
	background: initial !important;
}

::-webkit-scrollbar {
	width: 0 !important;
}

.scroll::-webkit-scrollbar {
	width: 2rem !important;
}

label {
	transition: var(--transition);
	box-shadow: inset 0 0 2rem -2rem var(--bg);
	border: none;
	--bright-yellow: rgb(255, 204, 0);
	--bright-blue: rgb(0, 92, 187);
	--animation-duration-1: 3s;
	--animation-duration-2: 8s;
	--animation-duration-3: 13s;
	--animation-timing: linear;
	outline: none !important;
	border: none !important;
	border-radius: 1rem;
	background: var(--bg);
}

label #results {
	transition: inherit;
}

label.has-results,
label:focus-within,
label.gradient-animation {
	outline: unset;
	box-shadow: inset 0 0 2rem -2rem var(--bg);
}

label:hover:not(.has-results, :focus-within, .gradient-animation)::after {
	opacity: 0.5;
	filter: blur(0.75rem) grayscale(1);
}

label:hover:not(.has-results, :focus-within, .gradient-animation)::before {
	opacity: 0.5;
	filter: grayscale(1);
}

label.has-results::after,
label:focus-within::after,
label.gradient-animation::after {
	opacity: 0.75;
}

label.has-results::before,
label:focus-within::before {
	opacity: 0.75;
}

label.gradient-animation::before {
	opacity: 0.75;
}

label.has-results::after {
	top: 3rem;
	left: 3rem;
	opacity: 1;
	filter: blur(3rem) !important;
	width: calc(100% - 6rem);
	height: calc(100% - 6rem);
}

label.has-results::before {
	opacity: 0.75;
	background-color: var(--bg-color-secondary);
}

label.gradient-animation::after {
	top: 0.5rem;
	left: 0.5rem;
	opacity: 1;
	filter: blur(1rem);
	width: calc(100% - 1rem);
	height: calc(100% - 1rem);
}

label.gradient-animation::before {
	opacity: 1;
}

label.gradient-animation {
	--animation-duration-1: 1.5s;
	--animation-duration-2: 4s;
	--animation-duration-3: 6.5s;
	--animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

label.has-results {
	--animation-duration-1: 10s;
	--animation-duration-2: 20s;
	--animation-duration-3: 30s;
	--animation-timing: cubic-bezier(0.2, 0, 0.4, 1);
}

@property --border-angle-1 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}

@property --border-angle-2 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 90deg;
}

@property --border-angle-3 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 180deg;
}

input {
	outline: none !important;
	border: none !important;
	color: var(--text-color);

	&::placeholder {
		color: var(--text-color-secondary);
	}

	&:focus-visible {
		outline: none;
	}
}

@keyframes rotate-background-1 {
	to {
		--border-angle-1: 360deg;
	}
}

@keyframes rotate-background-2 {
	to {
		--border-angle-2: -270deg;
	}
}

@keyframes rotate-background-3 {
	to {
		--border-angle-3: 540deg;
	}
}

label::after,
label::before {
	content: "";
	--border-angle-1: 0deg;
	--border-angle-2: 90deg;
	--border-angle-3: 180deg;
	display: flex;
	position: absolute;
	animation:
		rotate-background-1 var(--animation-duration-1) var(--animation-timing) infinite,
		rotate-background-2 var(--animation-duration-2) var(--animation-timing) infinite,
		rotate-background-3 var(--animation-duration-3) var(--animation-timing) infinite;
	transition: inherit;
	border: 0;
	border-radius: 1.15rem;
	background-color: transparent;
	padding: var(--border-size);
}

label::after {
	top: 3rem;
	left: 1.5rem;
	opacity: 0;
	z-index: -2;
	filter: blur(1rem);
	background-image:
		conic-gradient(
			from var(--border-angle-1) at 10% 15%,
			transparent,
			var(--bright-yellow) 10%,
			transparent 30%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-2) at 70% 60%,
			transparent,
			var(--bright-blue) 10%,
			transparent 60%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-3) at 50% 20%,
			transparent,
			var(--bright-yellow) 10%,
			transparent 50%,
			transparent
		);
	width: calc(100% - 3rem);
	height: calc(100% - 3rem);
}

label::before {
	top: -0.16rem;
	left: -0.16rem;
	z-index: -1;
	filter: blur(0rem);
	background-image:
		conic-gradient(
			from var(--border-angle-1) at 10% 15%,
			transparent,
			var(--bright-yellow) 10%,
			transparent 30%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-2) at 70% 60%,
			transparent,
			var(--bright-blue) 10%,
			transparent 60%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-3) at 50% 20%,
			transparent,
			var(--bright-yellow) 10%,
			transparent 50%,
			transparent
		),
		linear-gradient(var(--bg-color-secondary), var(--bg-color-secondary));
	background-color: var(--bg-color-secondary);
	width: calc(100% + 0.32rem);
	height: calc(100% + 0.32rem);
}
