<section id="projects">
	<h2 class="numbered-heading">{{ "projects.title" | translate }}</h2>

	<div class="projects-container">
		<div class="projects-list">
			@for (project of "projects.items" | translate; track project.id) {
				<div
					class="project-card"
					[@fadeInUp]
					[attr.aria-label]="'View ' + project.title"
					(click)="navigateToProject(project.id)"
					(keydown.enter)="navigateToProject(project.id)"
					(keydown.space)="$event.preventDefault(); navigateToProject(project.id)"
					role="button"
					tabindex="0">
					<img
						class="project-image"
						src="projects/{{ project.id }}/0.jpg"
						alt="{{ project.title }}" />
					<div class="project-content">
						<ul class="project-tech-list">
							@for (
								tech of getProjectDefinition(project.id).tech.slice(0, 7);
								track tech
							) {
								<li>{{ tech }}</li>
							}
						</ul>

						<div class="project-title">
							<h2>{{ project.title }}</h2>
							<mat-icon fontIcon="call_made"></mat-icon>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
