#projects {
	z-index: 2;
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 1200px;
}

.projects-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	margin-top: 50px;
}

.project-card {
	display: flex;
	position: relative;
	flex-direction: column;
	cursor: pointer;
	border-radius: 16.5px;
	height: 300px;
	min-height: 300px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	backdrop-filter: blur(3px);
	transition: var(--transition);
	overflow: hidden;
	&:hover {
		.project-content {
			opacity: 1;
		}
	}

	&:active {
		transform: translateY(-3px);
	}
}

.project-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: var(--transition);
	border-radius: 16px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;
	opacity: 0;
	z-index: 1;
	transition: var(--transition);
	border-radius: 16px;
	background: linear-gradient(transparent, black);
	padding: 2rem;
	height: 100%;
}

.project-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: var(--transition);

	h2 {
		color: white;
		font-weight: 500;
		font-size: 22px;
	}

	.mat-icon {
		width: 35px;
		min-width: 35px;
		height: 35px;
		color: white;
		font-size: 35px;
	}
}

.project-tech-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	transition: var(--transition);
	padding: 0;
	font-size: 13px;
	font-family: var(--font-mono);
	list-style: none;

	li {
		border: 1px solid white;
		border-radius: 35px;
		padding: 6px 12px;
		color: white;
	}
}

@keyframes fadeInUp {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 1024px) {
	#projects {
		padding: 60px 1.5rem 20px;
	}
	.project-content {
		padding: 1.5rem;
	}
}
