:host {
	opacity: 0;
	animation: fade-in 0.7s ease-in-out forwards;
	animation-delay: var(--animation-delay);
}

@keyframes fade-in {
	100% {
		opacity: 1;
	}
}

.bg-color-secondary {
	background-color: var(--bg-color-secondary) !important;
}

.skeleton-gradient {
	background: linear-gradient(to right, var(--bg-color-secondary), transparent);
}
