.cta-button {
	display: flex;
	column-gap: 10px;
	align-items: center;
	opacity: 0.85;
	transition: var(--transition);
	cursor: pointer;
	border: 2px solid var(--accent-color);
	background-color: transparent;
	padding: 1.25rem 1.5rem;
	color: var(--accent-color);
	font-weight: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	font-family: var(--font-sans);
	text-decoration: none;

	&:hover {
		transform: translateY(-2.5px);
		opacity: 1;
		background-color: var(--accent-color);
		color: var(--bg-color);
	}
}
